<div class="cover-wrapper clearfix">
    <img class="w-100" src="../assets/livingRoom.jpg" alt="Living Room">
    <div class="cover-text-wrapper text-center">
      <h2>Fortisi Home Design<br>Second name for Stylish</h2>
      <p class="text-white">Beauty that comes from trust</p>
      <button class="text-white bg-dark btn" type="button" name="button" routerLink="/shop">Shop Now</button>
    </div>
  </div>
  <div class="container text-center text-wrapper mt-5">
    <h4 class="text-uppercase">Power of an idea and art of craftmanship</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ducimus cum pariatur quaerat quibusdam illo voluptatem nobis placeat dolorem at fugiat tenetur, laboriosam ipsam dicta aliquam suscipit. Similique fugit sint, consequatur illum excepturi animi accusamus sunt odit nisi culpa. Facere?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia explicabo, laboriosam? Eveniet quod unde, dolores officiis, consectetur, rem fugiat laborum illo voluptates nesciunt natus? Deleniti.</p>
  </div>
  
