<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <form class="forma" (ngSubmit)="signUp(forma)"  #forma="ngForm">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp" ngModel>
                  <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" ngModel>
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
                <p>Already have an account? <a routerLink="/login">Log in</a></p>
              </form>
        </div>
    </div>
</div>
