<nav class="nav flex-column social-nav clearfix">
    <a class="nav-link" href="https://www.facebook.com/"><img src="../assets/facebook-logo.png" alt="Facebook"></a>
    <a class="nav-link" href="https://www.instagram.com/"><img src="../assets/instagram-logo.png" alt="Instagram"></a>
    <a class="nav-link" href="https://twitter.com/"><img src="../assets/twitter.png" alt="Twitter"></a>
    <a class="nav-link" href="https://www.pinterest.com/"><img src="../assets/pinterest.png" alt="Pinterest"></a>
</nav>
  
