<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <ul class="categories-list">
                <li>Categories</li>
                <li (click)="getKitchen()" >Kitchen</li>
                <li (click)="getBedroom()">Bedroom</li>
                <li (click)="getLivingRoom()">Living Room</li>
                <li (click)="getBathroom()">Bathroom</li>
            </ul>
        </div>
        <div class="col-lg-10 items-wrapper">
            <div class="row">
                <div class="col-lg-3 text-center mt-2" *ngFor = "let item of items" routerLink="../shop/{{item.Id}}">
                    <img class="w-100" src={{item.ImgPath}} alt={{item.Name}}>
                    <h6>{{item.Name}}</h6>
                    <p>{{item.Price}} din</p>
                </div>
            </div>
        </div>
    </div>
</div>


